<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOrderLabel" jhiTranslate="lesnouveauxpetitsmondesStoreApp.order.home.createOrEditLabel">Create or edit a Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!order.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="order.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lesnouveauxpetitsmondesStoreApp.order.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="order.creationDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lesnouveauxpetitsmondesStoreApp.order.shippedDate" for="field_shippedDate">Shipped Date</label>
            <div class="input-group">
                <input id="field_shippedDate" type="text" class="form-control" name="shippedDate" ngbDatepicker  #shippedDateDp="ngbDatepicker" [(ngModel)]="order.shippedDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="shippedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lesnouveauxpetitsmondesStoreApp.order.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="order.status" id="field_status" >
                <option value="NEW">{{'lesnouveauxpetitsmondesStoreApp.OrderStatus.NEW' | translate}}</option>
                <option value="PAID">{{'lesnouveauxpetitsmondesStoreApp.OrderStatus.PAID' | translate}}</option>
                <option value="SHIPPED">{{'lesnouveauxpetitsmondesStoreApp.OrderStatus.SHIPPED' | translate}}</option>
                <option value="DELIVERED">{{'lesnouveauxpetitsmondesStoreApp.OrderStatus.DELIVERED' | translate}}</option>
                <option value="CLOSED">{{'lesnouveauxpetitsmondesStoreApp.OrderStatus.CLOSED' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lesnouveauxpetitsmondesStoreApp.order.cart" for="field_cart">Cart</label>
            <select class="form-control" id="field_cart" name="cart" [(ngModel)]="order.cartId" required>
                <option *ngIf="!editForm.value.cart" [ngValue]="null" selected></option>
                <option [ngValue]="cartOption.id" *ngFor="let cartOption of carts; trackBy: trackCartById">{{cartOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.cart?.dirty && editForm.controls.cart?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.cart?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lesnouveauxpetitsmondesStoreApp.order.shippingAddress" for="field_shippingAddress">Shipping Address</label>
            <select class="form-control" id="field_shippingAddress" name="shippingAddress" [(ngModel)]="order.shippingAddressId"  required>
                <option *ngIf="!editForm.value.shippingAddress" [ngValue]="null" selected></option>
                <option [ngValue]="addressOption.id" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.shippingAddress?.dirty && editForm.controls.shippingAddress?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.shippingAddress?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lesnouveauxpetitsmondesStoreApp.order.billingAddress" for="field_billingAddress">Billing Address</label>
            <select class="form-control" id="field_billingAddress" name="billingAddress" [(ngModel)]="order.billingAddressId"  required>
                <option *ngIf="!editForm.value.billingAddress" [ngValue]="null" selected></option>
                <option [ngValue]="addressOption.id" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.billingAddress?.dirty && editForm.controls.billingAddress?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.billingAddress?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lesnouveauxpetitsmondesStoreApp.order.userei" for="field_userei">Userei</label>
            <select class="form-control" id="field_userei" name="userei" [(ngModel)]="order.usereiId"  required>
                <option *ngIf="!editForm.value.userei" [ngValue]="null" selected></option>
                <option [ngValue]="userExtraInfoOption.id" *ngFor="let userExtraInfoOption of userextrainfos; trackBy: trackUserExtraInfoById">{{userExtraInfoOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.userei?.dirty && editForm.controls.userei?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.userei?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
